.hide{
    display:none;
}
body{
    background-color: 	#36182e;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
      
.logo{
    color: #3ab5e6;
    border: 4px solid #e7d47b;
    border-radius: 5px;
    margin-bottom: 1px;
    font-family: 'Pacifico', cursive;
}
.logoQuiz{
    color: 	#ca31b4;
    font-family: 'Pacifico', cursive;
}
input{
    color:#e7d47b;
}
 .validate{
    box-shadow: 0 1px 0 0 #3ab5e6 !important;
    border-bottom: 1px solid #3ab5e6 !important;
}

.input-field input:focus + label {
    color: #e7d47b !important;
  }
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #3ab5e6 !important;
    box-shadow: 0 1px 0 0 #3ab5e6 !important
  }
  /*input highlight color*/
.input-field .prefix{
    color: #e7d47b !important;
}
/*button colors*/
.btnLogin{
    background-color: #3ab5e6 !important;
}
.btnSignUp{
    background-color: 	#ca31b4 !important;
    margin-bottom: 20px;
}
#homeBtn{
    background-color: 	#ca31b4 !important;
}
/*Font colors*/
.yellowPrint{
    color:#e7d47b;
    font-family: sans-serif;
}
.yellowText{
    color:#e7d47b;
    font-family: 'Pacifico', cursive;
}
.pinkText{
    color:#ca31b4;
    font-family: 'Pacifico', cursive;
}
.blueText{
    color:#3ab5e6;
    font-family: 'Pacifico', cursive;
}
/*homepage CSS*/
.catagory{
    color: #3ab5e6;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin-bottom: -80px;
}
/*image buttons*/
@media only screen and (max-width: 599px){
.carousel{
    height: 350px;
    }
    #categoryText{
        margin-top: 0%;
    }
    .input-field .prefix ~ input {
        width: 100%;
    }
.btTxt{
    display: block;
    height: 200px;  
    width: 200px;
}
}

@media only screen and (min-width: 600px) {
    .btTxt {
        display: block;
        height: 295px;  
        width: 400px;
        margin-left: -45%;
    }
    .input-field .prefix ~ input {
        width: 58%;
    }
  }
.btnStart{
    background-color: #3ab5e6 !important;
}
.btnScoreBoard{
    background-color: #ca31b4 !important;
}

/*Questions Page*/
.card-title{
    color: #3ab5e6;
    font-family: 'Pacifico', cursive;
}
.catagoryQuestion{
    color: 	#ca31b4;
    font-family: 'Pacifico', cursive;
}
.questionNumber{
    color: 	#ca31b4;
}
.card{
    background-color: 	#443c40 !important;
}
.cardQuestions{
    color:#e7d47b;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}
.buttonA1, .btn-large{
    width: 100%;
    background-color:	#3ab5e6 !important;
    font-weight: bold;
}

/*scoreboard css*/
.scoreRow .scoreCol {
    padding: 0%;
}
/*footer*/
footer{
    background-color:#443c40 !important;
    width: 100%; 
}
/*.loginFooter{
position: fixed;
bottom: 0;
width: 100%;
}
.homeRowFooter{
    margin-bottom: 0px;
}
.homeFooter{
    background-color:#443c40 !important;
}*/