<div class="row" id="logoHome">
    <div class="col s7 offset-s2">
        <h2 class="logo">Pocket Pub <span class="logoQuiz">Quiz</span></h2>
    </div>
    <div class="col s7 offset-s3">
        <h2 class="catagory"><span class="logoQuiz">Select</span> and <span class="logoQuiz">Click</span> a <span
                class="yellowText">Category</span></h2>
    </div>
</div>
<div class="carousel">
    <a class="carousel-item" href="#one!"><input type="image" src="/img/sportsCatagory.jpg"
            name="saveForm" class="btTxt submit sports" /></a>
    <a class="carousel-item" href="#two!"><input type="image" src="/img/musicCatagory.jpg"
            name="saveForm" class="btTxt submit music" /></a>
    <a class="carousel-item" href="#three!"><input type="image" src="/img/moviesCatagory.jpg"
            name="saveForm" class="btTxt submit movies" /></a>
</div>
<div class="container" id="homePage">
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <i class="material-icons prefix icon-color">share</i>
            <input id="icon_prefix" type="text" class="validate categoryInput" value="SomeText">
            <label for="icon_prefix">share link</label>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <button class="btn btn-large waves-effect waves-light btnStart" id="startBtn" type="submit"
                name="action">&nbsp &nbsp &nbsp Start &nbsp &nbsp &nbsp</button>
        </div>
    </div>
    <div class="row">
        <div class="col offset-s3">
            <button class="btn btn-large waves-effect waves-light btnScoreBoard" type="submit"
                name="action">Scoreboard</button>
        </div>
    </div>
</div>
<!--Footers-->
<!--Footer for login page-->
<footer class="page-footer loginFooter">
    <div class="container">
        <div class="row homeRowFooter">
            <div class="col s12 ">
                <h5 class="white-text">Developers:</h5>
                <div class="row homeRowFooter">
                    <div class="col s4">
                        <p>Brian Cox: Front End</p>
                        <ul>
                            <li><a href="https://github.com/papabear2009" target="_blank">GitHub |</a><a
                                    href="https://www.linkedin.com/in/brian-cox-18695392/" target="_blank">
                                    Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="col s4">
                        <p>Bryce Pinguel: Back End</p>
                        <ul>
                            <li><a href="https://github.com/Brycetp11" target="_blank">GitHub |</a><a
                                    href="https://www.linkedin.com/in/bryce-pingul/" target="_blank"> Linkedin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s4">
                        <p>Nick Mardon: Back End</p>
                        <ul>
                            <li><a href="https://github.com/NickMardon" target="_blank">GitHub |</a><a
                                    href="https://www.linkedin.com/in/nickmardon/" target="_blank"> Linkedin</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
</footer>
<script src="/js/script.js"></script>