<div class="row">
    <div class="col offset-s3">
        <button class="btn btn-large waves-effect waves-light btnScoreBoard" type="submit"
            name="action">Scoreboard</button>
    </div>
    <div class="col offset-s3">
        <button class="btn btn-large waves-effect waves-light btnScoreBoard" type="submit"
            name="action">Scoreboard</button>
    </div>
</div>

<script src="/js/script.js"></script>