<main>
    <input id="leaderboardID" type="hidden" value={{id}}>
    <div class="container" id="loginPage">
        <div class="row">
            <div class="col s7 m4 offset-s3 offset-m4">
                <h2 class="logo">Pocket Pub <span class="logoQuiz">Quiz</span></h2>
            </div>
        </div>
        <!--Score Results and leaderboard-->
        <div class="row">
            <div class="col s3 offset-s1 push-m3">
                <h2 class="blueText">Score<span class="pinkText">board:</span></h2>
            </div>
        </div>
        {{#each leaders}}
        <div class="row">
            <ol>
                <div class="col s1 m3 push-m2">
                    <li class="pinkText userScore"><span class="blueText">{{username}}</span>
                </div>
                <div class="col s1 m3 push-s7 push-m6">
                    <span class="pinkText userScore"> {{score}}</span><span class="yellowText userScore">/10 </span>
                    </li>
                </div>
            </ol>
        </div>
        {{/each}}
    </div>
    <div class="wrapper">
    <button class="btn btn-large waves-effect waves-light btnScoreBoard" id="homeBtn" type="submit"
        name="action">Home</button>
        </div>
</main>
<footer class="page-footer homeFooter">
    <div class="container">
        <div class="row homeRowFooter">
            <div class="col s12">
                <div class="row homeRowFooter">
                    <div class="col s4 m3 offset-m2">
                        <p>Brian Cox: Front End</p>
                        <ul>
                            <li><a href="https://github.com/papabear2009" target="_blank">GitHub |</a><a
                                    href="https://www.linkedin.com/in/brian-cox-18695392/" target="_blank">
                                    Linkedin</a></li>
                        </ul>
                    </div>
                    <div class="col s4 m3 ">
                        <p>Bryce Pingul: Back End</p>
                        <ul>
                            <li><a href="https://github.com/Brycetp11" target="_blank">GitHub |</a><a
                                    href="https://www.linkedin.com/in/bryce-pingul/" target="_blank"> Linkedin</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col s4 m3">
                        <p>Nick Mardon: Back End</p>
                        <ul>
                            <li><a href="https://github.com/NickMardon" target="_blank">GitHub |</a><a
                                    href="https://www.linkedin.com/in/nickmardon/" target="_blank"> Linkedin</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
</footer>

<script src="/js/leaderboard.js"></script>
{{!-- <script src="/js/quiz.js"></script> --}}